# Copie este arquivo para local.properties e ajuste os caminhos
sdk.dir=C:\\Users\\SeuUsuario\\AppData\\Local\\Android\\Sdk
ndk.dir=C:\\Users\\SeuUsuario\\AppData\\Local\\Android\\Sdk\\ndk\\24.0.8215888
